@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: beige;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    background-color: white;
    border-color: #9c29b7;
    border-bottom-width: 2px;
    padding-inline: 10%;
    position: sticky;
    z-index: 1;
    top: 0;

    


    .logo-label {
        display: flex;
        width: auto;
        height: 100%;
        justify-content: space-around;
        align-items: center;

        .logo {
            width: 84px;
            height: 54px;
            background: #b229b7;
            border-radius: 27px 27px 27px 27px;
        }

        .rememberfy-label {
            font-family: 'Finger Paint', cursive;
            font-size: 20pt;
            font-style: italic;
            text-decoration: none;
            color: #b229b7;
            padding-left: 20px;
        }
    }

    .rememberfy-nav {
        width: fit-content;
        height: 70px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
        right: 0;

        ul {
            display: flex;
            flex-direction: row;
            height: 100%;
            width: max-content;

            #li-icon{
                width: 50px;
            }

            li {
                display: flex;
                justify-content: center;
                align-items: center;
                list-style-type: none;
                height: 100%;
                transition: all .1s;
                width: 100px;

                &:hover {
                    border-bottom: #9c29b7;
                    border-bottom-style: solid;
                    border-width: 3px;
                }

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    font-family: 'Finger Paint', cursive;
                    font-size: 16px;
                    text-decoration: none;
                    color: #b229b7;
                }
            }
        }
    }
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    width: 90%;
    position: relative;
    left: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 25px;
}

// INDEX
.banner {
    // PRÓXIMAMENTE UN BANNER-CARRUSEL!
    display: flex;
    justify-content: center;

    img {
        width: 100%;
        overflow: hidden;
    }
}

section.bienvenidos {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;

    .div-bienvenidos {
        width: 90%;
        justify-content: space-around;
        height: min-content;
        display: flex;
        align-items: center;
        background-color: #e5b8e6;
        border-radius: 20px;

        .texto-bienvenida {
            justify-content: center;
            flex-direction: column;
            height: min-content;
            padding: 40px 0px 40px 40px;
            margin-right: 10px;
            max-width: 700px;

            h1 {
                font-family: "Finger Paint", cursive;
                font-size: 24px;
                color: #b229b7;
            }

            p {
                font-size: 16pt;
                text-indent: 20px;
                text-align: justify;
                padding: 20px;
                color: #9c29b7;
            }
        }

        .contenedor-img-bienvenida {

            img {
                width: 336px;
                height: 216px;
            }
        }
    }

}

section.designs {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #e5b8e6; //Test
    width: 90%;
    position: relative;
    left: 5%;
    border-radius: 20px;

    h1 {
        font-family: "Finger Paint", cursive;
        font-style: italic;
        color: #b229b7;
        margin: 10px;
    }

    .each-design {
        display: flex;
        justify-content: center;
        width: 100%;

        .design {
            border-radius: 20%;
            border-color: #b229b7;
            border-style: solid;
            margin-inline: 10px;
            overflow: hidden;
            min-width: 200px;
            height: 200px;
            margin-bottom: 20px;

            img {
                width: 200px;
                height: 200px;
                opacity: .8;
                transition: all .3s;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }




}

// ABOUT US

section.about-us {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;


    .articles-about-us {
        display: flex;
        justify-content: space-around;
        position: relative;
        width: 90%;
        height: min-content;
        left: 5%;
        align-items: center;
        background-color: #e5b8e6;
        border-radius: 20px;
        margin: 20px;

        .textos-about-us {
            justify-content: center;
            flex-direction: column;
            height: min-content;
            padding: 40px 0px 40px 40px;
            margin-right: 10px;
            max-width: 700px;

            h1 {
                font-family: "Finger Paint", cursive;
                font-size: 24px;
                color: #b229b7;
            }

            p {
                font-size: 16pt;
                text-indent: 20px;
                text-align: justify;
                padding: 20px;
                color: #9c29b7;
            }
        }

        .contenedor-img-about-us {

            #LOGO {
                width: 250px;
                height: 250px;
            }

            img {
                width: 336px;
                height: 216px;
            }
        }
    }

}

.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: darkorchid;
    font-size: 14pt;
    border-top-style: solid;
    border-color: #9c29b7;
    position: relative;
    bottom: 0;

    p {
        margin: 10px;
        font-family: cursive;
        font-style: italic;
        color: white;

    }

    .redes-sociales {
        display: flex;
        width: 150px;
        height: auto;
        margin-bottom: 10px;
        justify-content: space-between;
    }
}