:root {
    --color-primario: #9c29b7;
    --texto-oscuro: #b229b7;
    --colorete: linear-gradient(to right, #9c29b7 60%, #6429b7);
    --font-rememberfy: "Finger Paint";
    --font-texts: "sans-serif";
    --sofia-font: "Sofia Sans"
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .3s ease;
}

html {
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        width: 1rem;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #b229b7;

        &:hover {
            background-color: var(--color-primario);
        }
    }

    &::-webkit-scrollbar-track {
        background-color: white;

        &:hover {
            background-color: whitesmoke;
        }
    }

}

body {
    min-height: 100vh;
}

.scrolled {
    background-color: var(--color-primario);
}

#header-pages {
    background-color: var(--color-primario);
    position: sticky;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    background-color: transparent;
    transition: background-color 0.3s ease;
    padding-inline: 5%;
    z-index: 5;
    top: 0;
    position: fixed;

    .logo-label {
        display: flex;
        width: auto;
        height: 100%;
        justify-content: space-around;
        align-items: center;

        .logo {
            width: 84px;
            height: 54px;
            background: #ffffff;
            border-radius: 27px 27px 27px 27px;
        }

        .rememberfy-label {
            font-family: var(--font-rememberfy), cursive;
            font-size: 20pt;
            font-style: italic;
            text-decoration: none;
            color: white;
            padding-left: 20px;
        }
    }

    .rememberfy-nav {
        width: fit-content;
        height: 70px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
        right: 0;

        ul {
            display: flex;
            flex-direction: row;
            height: 100%;
            width: max-content;
            margin: 0;

            #li-icon {
                width: 50px;
            }

            li {
                display: flex;
                justify-content: center;
                align-items: center;
                list-style-type: none;
                height: 100%;
                transition: all .1s;
                width: 100px;

                &:hover {
                    border-bottom: white;
                    border-bottom-style: solid;
                    border-width: 3px;
                }

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    font-family: var(--font-rememberfy), cursive;
                    font-size: 16px;
                    text-decoration: none;
                    color: white;

                    i {
                        color: white;
                    }


                }
            }
        }
    }
}

#main-index {
    position: absolute;
    top: 0;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(242, 220, 245);
    //margin-bottom: 20px; porque el footer esta dentro del main...
    z-index: 0;
    width: 100%;
    overflow: hidden;
}

@media screen and (max-width: 1300px) {
    #banner {
        #t1 {
            font-size: 5.5vh;
        }

        #t2 {
            top: 73%;
        }
    }
}

@media screen and (max-width: 758px) {
    header {
        background-color: var(--color-primario);
        position: sticky;

        .rememberfy-label {
            display: none;
        }
    }

    #main-index {
        position: relative;
        top: 0;
    }

    #banner {
        display: none;
    }



    section.bienvenidos {
        padding: 10px !important;
        margin: 10px;

        .div-bienvenidos {
            justify-content: center;
        }

        .contenedor-img-bienvenida {
            overflow: hidden;

            iframe {
                min-width: 300px;
            }
        }
    }

    section.proceso-eventos {
        h1 {
            text-align: center;
        }

        .procesos {
            gap: 2em;

            a {
                width: fit-content;
                margin-inline: 0px !important;

                .proceso {
                    margin: 0px !important;

                }
            }
        }
    }
}

// INDEX
.banner {
    // PRÓXIMAMENTE UN BANNER-CARRUSEL!
    display: flex;
    justify-content: center;
    position: relative;

    .supertexto {
        position: absolute;
        max-width: 80vw;
        font-family: var(--font-rememberfy);
        color: white;
        text-align: center;
        //-webkit-text-stroke-width: 0.2px;
        //-webkit-text-fill-color: black;
    }

    #t1 {
        // BANNER NORMAL
        font-size: 34px;
        top: 25%;
        // BANNER GRANDE
        font-size: 7vh;
        top: 30%;
    }

    #t2 {
        font-style: italic;
        // BANNER NORMAL
        font-size: 20px;
        top: 70%;
        // BANNER GRANDE
        font-size: 4vh;
        top: 70%;

    }

    img {
        max-width: 100vw;
        height: 100vh;
        overflow: hidden;
    }
}

section.bienvenidos {
    display: flex;
    width: 100%;

    justify-content: center;
    flex-direction: row;
    padding: 100px;

    //background-color: #6429b7;

    .div-bienvenidos {
        width: 100%;
        justify-content: space-around;
        height: min-content;
        display: flex;
        align-items: center;
        margin: 40px;
        flex-wrap: wrap;

        .texto-citado {
            justify-content: center;
            flex-direction: column;
            height: min-content;
            max-width: 600px;
            padding: 20px;

            h1 {
                font-family: "Sofia Sans", var(--font-texts), cursive;
                font-size: 28px;
                color: var(--texto-oscuro);
            }

            .hashtag {
                font-family: 'Sofia Sans Condensed', sans-serif;
                color: #ad57c0;
            }


            p {
                font-family: "Sofia Sans";
                font-size: 20px;
                text-align: justify;
                margin-top: 20px;
                color: #ad57c0;
            }
        }

        .contenedor-img-bienvenida {
            display: flex;

            img {
                width: 336px;
                height: 216px;
            }
        }
    }

}

section.proceso-eventos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

    h1 {
        font-family: "Sofia Sans", cursive;
        color: var(--color-primario);
        height: min-content;
    }

    .procesos {
        width: 90%;
        display: flex;
        justify-content: center;
        padding-inline: 0;
        margin-top: 25px;
        flex-wrap: wrap;

        a {
            width: fit-content;
            display: flex;
            text-decoration: none;
            margin-inline: 20px;

            .proceso {
                margin: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                transition: all .3s;

                h3 {
                    font-family: "Sofia Sans", cursive;
                    text-align: center;
                    margin-top: 25px;
                    color: #58005bdd;
                }

                p {
                    font-family: "Sofia Sans", cursive;
                    text-align: center;
                    color: #ad57c0;
                    width: 145px;
                }

                &:hover {
                    transform: scale(1.2);
                }
            }
        }

    }

    .contact-button {
        display: inline-block;
        width: 8em;
        height: 2.6em;
        margin: 20px;
        line-height: 2.5em;
        overflow: hidden;
        position: relative;
        font-family: var(--sofia-font);
        font-size: 17px;
        z-index: 1;
        color: var(--color-primario);
        border: 2px solid var(--color-primario);
        border-radius: 6px;

        &::before {
            position: absolute;
            content: "";
            background: var(--color-primario);
            width: 270px;
            height: 150px;
            z-index: -1;
            border-radius: 50%;
        }

        &:hover {
            color: white;

            &::before {
                top: -30px;
                left: -30px;
            }
        }

        &::before {
            top: 100%;
            left: 100%;
            transition: 0.7s all;
        }

    }
}

// ABOUT US

section.about-us {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    position: relative;
    align-items: center;
    background-color: rgb(242, 220, 245);

    //
    --s: 200px;
    /* control the size */
    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;

    background: repeating-conic-gradient(from 30deg,
            #0000 0 120deg,
            var(--c3) 0 180deg) calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
        repeating-conic-gradient(from 30deg,
            var(--c1) 0 60deg,
            var(--c2) 0 120deg,
            var(--c3) 0 180deg);
    background-size: var(--s) calc(var(--s) * 0.577);

    //

    .articles-about-us {
        display: flex;
        width: 70%;
        height: min-content;
        left: 5%;
        justify-content: space-between;
        align-items: center;
        background-color: whitesmoke;
        border-radius: 20px;
        border-style: solid;
        border-color: var(--texto-oscuro);
        margin: 20px;
        max-width: 1350px;

        #textos-about-us {
            padding: 50px;
            max-width: 700px;

            h1 {
                font-family: "Sofia Sans", cursive;
                font-size: 2em;
                color: var(--texto-oscuro);
                margin-bottom: 20px;
            }

            p {
                font-family: "Sofia Sans", cursive;
                font-size: 20px;
                text-indent: 40px;
                text-align: justify;
                color: #ad57c0;
            }
        }

        #contenedor-img-about-us {
            display: flex;
            justify-content: center;
            #LOGO {
                width: 400px;
                height: 400px;
            }

            img {
                width: 500px;
                height: auto;
            }
        }
    }
}

// Events

.paso-a-paso {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100%;
    --s: 200px;
    /* control the size */
    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;

    background: repeating-conic-gradient(from 30deg,
            #0000 0 120deg,
            var(--c3) 0 180deg) calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
        repeating-conic-gradient(from 30deg,
            var(--c1) 0 60deg,
            var(--c2) 0 120deg,
            var(--c3) 0 180deg);
    background-size: var(--s) calc(var(--s) * 0.577);


    h1 {
        margin-top: 30px;
        height: min-content;
        font-size: 5em;
        font-family: "Sofia Sans Condensed", cursive;
        color: var(--texto-oscuro);
        text-shadow: 1px 2px 3px white;

    }

    .proceso-paso-a-paso {
        display: flex;
        flex-direction: column;
        align-items: center;

        article {
            max-width: 60vw;
            background-color: whitesmoke;
            margin: 20px;
            padding: 55px;
            padding-inline: 40px;
            border-radius: 20px;
            border-style: solid;
            border-color: var(--texto-oscuro);
            min-width: 400px;

            &:hover {
                border-color: #03a9f4;

                h1 {

                    color: #03a9f4;

                    i {
                        color: skyblue;
                    }
                }

                p {
                    color: #03a9f4;
                }
            }

            h1 {
                margin-top: 0px;
                height: min-content;
                width: 100%;
                font-size: 45px;
                font-family: "Sofia Sans Condensed", cursive;
                color: var(--texto-oscuro);

                .fa-lightbulb {
                    color: #d4ff00cd;
                }

                .fa-hand-holding-dollar {
                    color: #51d12e;
                }

                .fa-handshake-simple {
                    color: #0051ff;
                }

                .fa-calendar-days {
                    color: #1fff8b;
                }

                .fa-champagne-glasses {
                    color: #d4ff00cd;
                }



            }

            p {
                text-align: justify;
                color: #ad57c0;
                font-size: 20px;
                text-indent: 40px;
                font-family: "Sofia Sans", cursive;
            }
        }
    }
}

.texto-superpuesto {
    display: flex;
    justify-content: center;
    position: relative;
    width: fit-content;


    img {
        width: 400px;
        height: 400px;
    }

    h1 {
        position: absolute;
        top: 50%;
    }
}

.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-primario);
    font-size: 14pt;
    border-top-style: solid;
    border-color: var(--texto-oscuro);
    position: relative;
    bottom: 0;
    width: 100vw;
    z-index: 1;

    p {
        margin: 10px;
        font-family: "Sofia Sans Condensed";
        font-style: italic;
        font-size: 24px;
        color: white;

    }

    .redes-sociales {
        display: flex;
        width: 150px;
        height: auto;
        margin-bottom: 10px;
        justify-content: space-between;
    }
}

// Contact us
.img-area {
    background-image: url(../assets/images/contact-us-bkg.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.contact {
    z-index: 1;
    position: relative;
    min-height: 80vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 92vh;
    font-family: "Sofia Sans", cursive;

    .content {
        max-width: 500px;
        text-align: center;
        z-index: 1;
        margin-bottom: 20px;

        h2 {
            font-size: 36px;
            font-style: normal;
            color: var(--color-primario);
            text-shadow: 2px 2px 3px white;

        }

        p {
            font-size: 24px;
            font-weight: 700;
            color: var(--color-primario);
            text-shadow: 2px 2px 3px white;

        }
    }

    .container {
        z-index: 1;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .contactInfo {
            width: 50%;
            display: flex;
            flex-direction: column;

            .box {
                position: relative;
                max-width: 300px;
                margin: 30px;
                display: flex;
                left: 20%;


                #icon {
                    width: 50px;
                    height: 50px;
                    background-color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    font-size: 35px;
                    font-weight: 550;
                }

                .text {
                    display: flex;
                    flex-direction: column;
                    margin-left: 20px;
                    font-size: 16px;

                    h2 {
                        font-size: 20pt;
                        font-weight: 500;
                        color: var(--color-primario);
                        text-shadow: 1px 2px 1px rgb(255, 255, 255);

                    }

                    p {
                        font-style: italic;
                        font-weight: 700;
                        color: white;
                        text-shadow: 2px 2px 1px black;
                    }

                    a {
                        font-weight: 700;
                        color: white;
                        text-shadow: 2px 2px 1px black;
                        text-decoration: none;
                    }


                }
            }
        }

        .contactForm {
            width: 50%;
            max-width: 500px;
            min-width: 400px;
            padding: 40px;
            background-color: white;
            margin-top: 20px;

            h2 {
                font-size: 30px;
                color: var(--color-primario);
                font-weight: 800;
            }

            .inputBox {
                display: flex;
                justify-content: center;
                position: relative;
                width: 100%;
                margin-top: 10px;

                textarea {
                    min-height: 125px;

                    &:valid~span {
                        display: none;
                    }

                    &:focus~span {
                        display: none;
                    }
                }

                input {

                    &:valid~span {
                        color: #e91e6286;
                        font-size: 12px;
                        transform: translateY(-20px);
                    }

                    &:focus~span {
                        color: #e91e6286;
                        font-size: 12px;
                        font-weight: 900;
                        transform: translateY(-20px);
                    }
                }

                input,
                textarea {
                    width: 100%;
                    padding: 5px 0;
                    font-size: 16px;
                    margin: 10px 0;
                    border: none;
                    border-bottom: 2px solid rgb(78, 77, 77);
                    outline: none;
                    resize: none;



                }


                input[type="submit"] {
                    width: 100px;
                    background-color: #00bcd4;
                    color: white;
                    border: none;
                    cursor: pointer;
                    padding: 10px;
                    font-size: 18px;

                }

                span {
                    position: absolute;
                    left: 0;
                    padding: 5px 0;
                    font-size: 16px;
                    margin: 10px 0;
                    pointer-events: none;
                    transition: 0.5s;
                    color: grey;
                }
            }

        }
    }
}

@media screen and (max-width: 1110px) {
    .contact {
        padding: 50px;

        .container {
            flex-direction: column;

            .contactInfo {
                width: 100%;
                margin-bottom: 40px;
                align-items: center;

                .box {
                    padding-inline: 0;
                    margin: 10px;
                    position: relative;
                    left: 0;
                    justify-content: flex-start;
                    width: 300px;
                }
            }

            .contactForm {
                max-width: 500px;
                min-width: 300px;
                width: 100%;

                h2 {
                    text-align: center;
                }

                .inputBox {
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
}

@media screen and (max-width: 1410px) {
    .articles-about-us {
        flex-direction: column;
        min-width: 400px;

        #textos-about-us {
            padding: 30px !important;
            max-width: 700px !important;
        }

        #contenedor-img-about-us {
            justify-content: center;

            img {
                max-width: 50vw;
                margin-bottom: 40px;
            }

            #LOGO {
                max-width: 50vw;
                max-height: 50vw;
                margin-right: 0 !important;
            }
        }
    }
}

//TEAM

#team-main {
    width: 100%;
    height: 100%;
    --s: 200px;
    /* control the size */
    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;

    background: repeating-conic-gradient(from 30deg,
            #0000 0 120deg,
            var(--c3) 0 180deg) calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
        repeating-conic-gradient(from 30deg,
            var(--c1) 0 60deg,
            var(--c2) 0 120deg,
            var(--c3) 0 180deg);
    background-size: var(--s) calc(var(--s) * 0.577);

    #fundador {
        flex-direction: column;
    }

}


.team {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    //
    width: 90%;
    --s: 194px;
    /* control the size */
    --c1: #fffadb;
    --c2: #acc4a3;

    --_l: #0000 calc(25% / 3), var(--c1) 0 25%, #0000 0;
    --_g: conic-gradient(from 120deg at 50% 87.5%, var(--c1) 120deg, #0000 0);

    background: var(--_g), var(--_g) 0 calc(var(--s) / 2),
        conic-gradient(from 180deg at 75%, var(--c2) 60deg, #0000 0),
        conic-gradient(from 60deg at 75% 75%, var(--c1) 0 60deg, #0000 0),
        linear-gradient(150deg, var(--_l)) 0 calc(var(--s) / 2),
        conic-gradient(at 25% 25%,
            #0000 50%,
            var(--c2) 0 240deg,
            var(--c1) 0 300deg,
            var(--c2) 0),
        linear-gradient(-150deg, var(--_l)) #55897c;
    background-size: calc(0.866 * var(--s)) var(--s);
    //


    h1 {
        padding-top: 40px;
        text-align: center;
        font-size: 3em;
        font-family: var(--sofia-font);
        color: var(--color-primario);
        font-style: italic;
        text-shadow: 2px 2px 2px white;

    }

    .card {
        position: relative;
        width: 190px;
        height: 254px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 40px;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(315deg, var(--color-primario), #03a9f4);
            border-radius: 20px;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(315deg, var(--color-primario), #03a9f4);
            filter: blur(10px);

        }

        b {
            position: absolute;
            inset: 6px;
            background: rgba(0, 0, 0, 0.6);
            z-index: 2;
        }

        img {

            z-index: 3;
            scale: 0.8;
            opacity: 0.9;
            transition: 0.3s;
            overflow: hidden;
            border-radius: 20px;
        }

        &:hover {
            img {
                scale: 0.6;
                opacity: 1;
                transform: translateY(-80px);
                border-radius: 0px;
                padding-top: 30px;
            }

            .content {
                transform: scale(1);
                bottom: 25px;
            }
        }

        .content {
            position: absolute;
            z-index: 3;
            bottom: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            transform: scale(0);
            transition: 0.3s;

            .title {
                position: relative;
                color: #fff;

                font-size: 1em;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                text-align: center;
                font-family: var(--sofia-font);

                span {
                    font-style: var(--sofia-font), cursive;
                    font-weight: 300;
                    font-size: 0.70em;
                }
            }

            .sci {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 8px;
                margin-top: 5px;

                li {
                    list-style: none;

                    a {
                        position: relative;
                        text-decoration: none;
                        color: rgba(255, 255, 255, 0.3);
                        background: rgba(0, 0, 0, 0.5);
                        fill: currentColor;
                        width: 30px;
                        height: 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 4px;
                        transition: all 0s;

                        .fa-brands {
                            width: 14px;
                        }

                        .fa-facebook-f {
                            width: 10px;
                        }

                        &:hover {
                            fill: currentColor;
                            color: white;
                            background: transparent;
                            border-style: solid;
                            border-width: 3px;
                            border-color: white;
                        }
                    }
                }
            }
        }
    }
}