:root {
  --color-primario: #9c29b7;
  --texto-oscuro: #b229b7;
  --colorete: linear-gradient(to right, #9c29b7 60%, #6429b7);
  --font-rememberfy: "Finger Paint";
  --font-texts: "sans-serif";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  width: 0.8vw;
}
html::-webkit-scrollbar-thumb {
  background-color: #b229b7;
}
html::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primario);
}
html::-webkit-scrollbar-track {
  background-color: white;
}
html::-webkit-scrollbar-track:hover {
  background-color: whitesmoke;
}

body {
  min-height: 100vh;
}

.scrolled {
  background-color: var(--color-primario);
}

#header-pages {
  background-color: var(--color-primario);
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background-color: transparent;
  transition: background-color 0.3s ease;
  padding-inline: 5%;
  position: fixed;
  z-index: 1;
  top: 0;
}
header .logo-label {
  display: flex;
  width: auto;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}
header .logo-label .logo {
  width: 84px;
  height: 54px;
  background: #ffffff;
  border-radius: 27px 27px 27px 27px;
}
header .logo-label .rememberfy-label {
  font-family: var(--font-rememberfy), cursive;
  font-size: 20pt;
  font-style: italic;
  text-decoration: none;
  color: white;
  padding-left: 20px;
}
header .rememberfy-nav {
  width: -moz-fit-content;
  width: fit-content;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  right: 0;
}
header .rememberfy-nav ul {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: -moz-max-content;
  width: max-content;
}
header .rememberfy-nav ul #li-icon {
  width: 50px;
}
header .rememberfy-nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  height: 100%;
  transition: all 0.1s;
  width: 100px;
}
header .rememberfy-nav ul li:hover {
  border-bottom: white;
  border-bottom-style: solid;
  border-width: 3px;
}
header .rememberfy-nav ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: var(--font-rememberfy), cursive;
  font-size: 16px;
  text-decoration: none;
  color: white;
}

.main-index {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  background-color: white;
  z-index: 0;
  width: 100%;
  overflow: hidden;
}

.banner {
  display: flex;
  justify-content: center;
  position: relative;
}
.banner .supertexto {
  position: absolute;
  max-width: 80vw;
  font-family: var(--font-rememberfy);
  color: white;
  text-align: center;
}
.banner #t1 {
  font-size: 34px;
  top: 25%;
  font-size: 6vh;
  top: 30%;
}
.banner #t2 {
  font-style: italic;
  font-size: 20px;
  top: 70%;
  font-size: 4vh;
  top: 70%;
}
.banner img {
  max-width: 100vw;
  height: 100vh;
  overflow: hidden;
}

section.bienvenidos {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: row;
  margin-top: 75px;
}
section.bienvenidos .div-bienvenidos {
  width: 100%;
  justify-content: center;
  height: -moz-min-content;
  height: min-content;
  display: flex;
  align-items: center;
}
section.bienvenidos .div-bienvenidos .texto-citado {
  justify-content: center;
  flex-direction: column;
  height: -moz-min-content;
  height: min-content;
  max-width: 600px;
  padding: 20px;
  margin-right: 90px;
}
section.bienvenidos .div-bienvenidos .texto-citado h1 {
  font-family: "Sofia Sans", var(--font-texts), cursive;
  font-size: 28px;
  color: var(--texto-oscuro);
}
section.bienvenidos .div-bienvenidos .texto-citado .hashtag {
  font-family: "Satisfy", cursive;
  color: #ad57c0;
}
section.bienvenidos .div-bienvenidos .texto-citado p {
  font-size: 25px;
  text-align: justify;
  margin-top: 20px;
  color: #ad57c0;
}
section.bienvenidos .div-bienvenidos .contenedor-img-bienvenida img {
  width: 336px;
  height: 216px;
}

section.proceso-eventos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 75px;
}
section.proceso-eventos h1 {
  font-family: "Sofia Sans", cursive;
  color: var(--color-primario);
  margin-bottom: 25px;
}
section.proceso-eventos .procesos {
  display: flex;
}
section.proceso-eventos .procesos a {
  text-decoration: none;
}
section.proceso-eventos .procesos a .proceso {
  width: 10vw;
  margin: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s;
  max-width: 9.3vw;
}
section.proceso-eventos .procesos a .proceso h3 {
  font-family: "Sofia Sans", cursive;
  margin-top: 25px;
  color: rgba(88, 0, 91, 0.8666666667);
}
section.proceso-eventos .procesos a .proceso p {
  font-family: "Sofia Sans", cursive;
  text-align: center;
}
section.proceso-eventos .procesos a .proceso:hover {
  transform: scale(1.2);
}

section.designs {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
section.designs h1 {
  font-family: var(--font-rememberfy), cursive;
  font-style: italic;
  color: var(--texto-oscuro);
  margin: 20px;
}
section.designs .each-design {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
  /*
  .design {
      border-color: var(--texto-oscuro);
      border-style: solid;
      overflow: hidden;
      min-width: 200px;
      margin-bottom: 20px;

      img {
          width: 300px;
          height: 300px;
          opacity: .8;
          transition: all .3s;

          &:hover {
              opacity: 1;
          }
      }
  }*/
}
section.designs .each-design .card {
  box-sizing: border-box;
  width: 250px;
  height: 250px;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-weight: bolder;
  color: black;
  margin: 20px;
}
section.designs .each-design .card:hover {
  border: 1px solid black;
  transform: scale(1.05);
}
section.designs .each-design .card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}
section.designs .each-design .card img {
  overflow: hidden;
  border-radius: 17px;
}

section.about-us {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}
section.about-us .articles-about-us {
  display: flex;
  justify-content: space-around;
  position: relative;
  width: 90%;
  height: -moz-min-content;
  height: min-content;
  left: 5%;
  align-items: center;
  background-color: #e5b8e6;
  border-radius: 20px;
  margin: 20px;
}
section.about-us .articles-about-us .textos-about-us {
  justify-content: center;
  flex-direction: column;
  height: -moz-min-content;
  height: min-content;
  padding: 40px 0px 40px 40px;
  margin-right: 10px;
  max-width: 700px;
}
section.about-us .articles-about-us .textos-about-us h1 {
  font-family: var(--font-texts), cursive;
  font-size: 24px;
  color: var(--texto-oscuro);
}
section.about-us .articles-about-us .textos-about-us p {
  font-size: 16pt;
  text-indent: 20px;
  text-align: justify;
  padding: 20px;
  color: var(--color-primario);
}
section.about-us .articles-about-us .contenedor-img-about-us #LOGO {
  width: 250px;
  height: 250px;
}
section.about-us .articles-about-us .contenedor-img-about-us img {
  width: 336px;
  height: 216px;
}

.texto-superpuesto {
  display: flex;
  justify-content: center;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
.texto-superpuesto img {
  width: 400px;
  height: 400px;
}
.texto-superpuesto h1 {
  position: absolute;
  top: 50%;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-primario);
  font-size: 14pt;
  border-top-style: solid;
  border-color: var(--texto-oscuro);
  position: relative;
  bottom: 0;
  width: 100vw;
  margin-top: 20px;
}
.footer p {
  margin: 10px;
  font-family: cursive;
  font-style: italic;
  color: white;
}
.footer .redes-sociales {
  display: flex;
  width: 150px;
  height: auto;
  margin-bottom: 10px;
  justify-content: space-between;
}/*# sourceMappingURL=style.css.map */