:root {
  --color-primario: #9c29b7;
  --texto-oscuro: #b229b7;
  --font-rememberfy: "Finger Paint" ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-primario);
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background-color: transparent;
  padding-inline: 10%;
  position: sticky;
  z-index: 1;
  top: 0;
}
header .logo-label {
  display: flex;
  width: auto;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}
header .logo-label .logo {
  width: 84px;
  height: 54px;
  background: #ffffff;
  border-radius: 27px 27px 27px 27px;
}
header .logo-label .rememberfy-label {
  font-family: "Finger Paint", cursive;
  font-size: 20pt;
  font-style: italic;
  text-decoration: none;
  color: white;
  padding-left: 20px;
}
header .rememberfy-nav {
  width: -moz-fit-content;
  width: fit-content;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  right: 0;
}
header .rememberfy-nav ul {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: -moz-max-content;
  width: max-content;
}
header .rememberfy-nav ul #li-icon {
  width: 50px;
}
header .rememberfy-nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  height: 100%;
  transition: all 0.1s;
  width: 100px;
}
header .rememberfy-nav ul li:hover {
  border-bottom: var(--color-primario);
  border-bottom-style: solid;
  border-width: 3px;
}
header .rememberfy-nav ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: "Finger Paint", cursive;
  font-size: 16px;
  text-decoration: none;
  color: white;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 0;
  background-color: white;
  margin-bottom: 20px;
  padding-bottom: 25px;
  z-index: 0;
}

.banner {
  display: flex;
  justify-content: center;
  position: relative;
}
.banner .supertexto {
  position: absolute;
  width: 800px;
  font-family: var(--font-rememberfy);
  color: white;
  text-align: center;
}
.banner #t1 {
  font-size: 34px;
  top: 25%;
}
.banner #t2 {
  font-size: 20px;
  top: 70%;
}
.banner img {
  width: 100%;
  overflow: hidden;
}

section.bienvenidos {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
}
section.bienvenidos .div-bienvenidos {
  width: 90%;
  justify-content: space-around;
  height: -moz-min-content;
  height: min-content;
  display: flex;
  align-items: center;
  background-color: #e5b8e6;
  border-radius: 20px;
}
section.bienvenidos .div-bienvenidos .texto-bienvenida {
  justify-content: center;
  flex-direction: column;
  height: -moz-min-content;
  height: min-content;
  padding: 40px 0px 40px 40px;
  margin-right: 10px;
  max-width: 700px;
}
section.bienvenidos .div-bienvenidos .texto-bienvenida h1 {
  font-family: "Finger Paint", cursive;
  font-size: 24px;
  color: var(--texto-oscuro);
}
section.bienvenidos .div-bienvenidos .texto-bienvenida p {
  font-size: 16pt;
  text-indent: 20px;
  text-align: justify;
  padding: 20px;
  color: var(--color-primario);
}
section.bienvenidos .div-bienvenidos .contenedor-img-bienvenida img {
  width: 336px;
  height: 216px;
}

section.designs {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #e5b8e6;
  width: 90%;
  border-radius: 20px;
}
section.designs h1 {
  font-family: "Finger Paint", cursive;
  font-style: italic;
  color: var(--texto-oscuro);
  margin: 10px;
}
section.designs .each-design {
  display: flex;
  justify-content: center;
  width: 100%;
}
section.designs .each-design .design {
  border-radius: 20%;
  border-color: var(--texto-oscuro);
  border-style: solid;
  margin-inline: 10px;
  overflow: hidden;
  min-width: 200px;
  height: 200px;
  margin-bottom: 20px;
}
section.designs .each-design .design img {
  width: 200px;
  height: 200px;
  opacity: 0.8;
  transition: all 0.3s;
}
section.designs .each-design .design img:hover {
  opacity: 1;
}

section.about-us {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}
section.about-us .articles-about-us {
  display: flex;
  justify-content: space-around;
  position: relative;
  width: 90%;
  height: -moz-min-content;
  height: min-content;
  left: 5%;
  align-items: center;
  background-color: #e5b8e6;
  border-radius: 20px;
  margin: 20px;
}
section.about-us .articles-about-us .textos-about-us {
  justify-content: center;
  flex-direction: column;
  height: -moz-min-content;
  height: min-content;
  padding: 40px 0px 40px 40px;
  margin-right: 10px;
  max-width: 700px;
}
section.about-us .articles-about-us .textos-about-us h1 {
  font-family: "Finger Paint", cursive;
  font-size: 24px;
  color: var(--texto-oscuro);
}
section.about-us .articles-about-us .textos-about-us p {
  font-size: 16pt;
  text-indent: 20px;
  text-align: justify;
  padding: 20px;
  color: var(--color-primario);
}
section.about-us .articles-about-us .contenedor-img-about-us #LOGO {
  width: 250px;
  height: 250px;
}
section.about-us .articles-about-us .contenedor-img-about-us img {
  width: 336px;
  height: 216px;
}

.texto-superpuesto {
  display: flex;
  justify-content: center;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
.texto-superpuesto img {
  width: 400px;
  height: 400px;
}
.texto-superpuesto h1 {
  position: absolute;
  top: 50%;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-primario);
  font-size: 14pt;
  border-top-style: solid;
  border-color: var(--texto-oscuro);
  position: relative;
  bottom: 0;
  width: 100%;
}
.footer p {
  margin: 10px;
  font-family: cursive;
  font-style: italic;
  color: white;
}
.footer .redes-sociales {
  display: flex;
  width: 150px;
  height: auto;
  margin-bottom: 10px;
  justify-content: space-between;
}/*# sourceMappingURL=style.css.map */