* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    grid-area: header;

    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    background-color: blue;
    transition: background-color 0.3s ease;
    padding-inline: 5%;
    position: fixed;
    z-index: 1;
    top: 0;

    .logo-label {
        display: flex;
        width: auto;
        height: 100%;
        justify-content: space-around;
        align-items: center;

        .logo {
            width: 84px;
            height: 54px;
            background: #ffffff;
            border-radius: 27px 27px 27px 27px;
        }

        .rememberfy-label {
            font-family: var(--font-rememberfy), cursive;
            font-size: 20pt;
            font-style: italic;
            text-decoration: none;
            color: white;
            padding-left: 20px;
        }
    }

    .rememberfy-nav {
        width: fit-content;
        height: 70px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
        right: 0;

        ul {
            display: flex;
            flex-direction: row;
            height: 100%;
            width: max-content;

            #li-icon {
                width: 50px;
            }

            li {
                display: flex;
                justify-content: center;
                align-items: center;
                list-style-type: none;
                height: 100%;
                transition: all .1s;
                width: 100px;

                &:hover {
                    border-bottom: white;
                    border-bottom-style: solid;
                    border-width: 3px;
                }

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    font-family: var(--font-rememberfy), cursive;
                    font-size: 16px;
                    text-decoration: none;
                    color: white;
                    //color: #b229b7;
                }
            }
        }
    }
}

.contenedor-grids-main {

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "proceso-eventos"
        "proceso-idea"
        "proceso-cotizacion"
        "proceso-trato"
        "proceso-"
        "proceso-"
}

section.proceso-evento{

}
